#container-main {
	position: absolute;
    width: 600px;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -300px;
    background-color: #111111;
    border:2px solid black;
	border-radius: 10px;
}
#container-login {
	text-align: center;
}
#container-friendlist{
	display: none;
}
#container-junglertimertool { 
	display: none;
}
#container-matchhistory {
	display: none;
}
#menu {
	height:200px;
	width: 140px;
	margin-left: -158px;
	padding-left: 10px;
	float: left;
	position:fixed;
	background-color:#222222;
	border:2px solid black;
	border-radius: 10px;
}
.menu-option {
	color: blue;
}
.hover {
	color: red;
	cursor : pointer;
}
#main-content {
	width: 450px;
	float: left;
	margin-left: 30px;
}
.wait{
	width: 32px;
	height: 32px;
	background-image: url('../images/ajax-loader.gif');
}
#wait-history{
	margin-top: 70px;
	margin-left: 209px;
	display: none;
}
#wait-friends{
	display: none;
}

.input-text {
	width: 200px;
	height: 25px;
	margin-top: 10px;
}
.container-eror{
	background-color: pink;
	color: red;
}
#recoveryAcc {
	text-align: right;
	margin-right: 200px;
}
.info-hover {
	background-color: black;
	text-align: center;
}
.info-hover-text {
	z-index: 5;
	color: white;
}
.items {
	margin-top: 50px;
	float: left;
}
.spell {
	float: left;
}
.game-won {
	border: 1px solid black;
	height: 350px;
	width: 450px;
	background-color: #6AA642;
}
.game-lost {
	border: 1px solid black;
	height: 350px;
	width: 450px;
	background-color: #E02D2D;
}
.playerItems {
	position: relative;
}
.stats{
	float: left;
	color: white;
}
.summoners-text {
	height: 0px;
	color: white;
}
.items-text {
	margin-top: 65px;
	height: 0px;
	color: white;
}
