body{
	background-color: #2c2c2c;
}
p, h1, h2 {
	color: white;
}
#container-main {
	position: absolute;
    width: 600px;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -300px;
    background-color: #111111;
    border:2px solid black;
	border-radius: 10px;
}
#container-login {
	text-align: center;
	margin-bottom: 20px;
}
#container-signunp {
	text-align: center;
	margin-left: 120px;
	margin-right: 120px;
	margin-bottom: 20px;
}
#menu {
	height: 200px;
	width: 140px;
	margin-left: -164px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	position:fixed;
	background-color:#222222;
	border:2px solid black;
	border-radius: 10px;
}
.menu-option {
	color: white;
	padding-left: 10px;
	background-color: #383838;
	border:1px solid black;
	border-radius:4px;

}
.hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#222222));
	cursor : pointer;
}
#friends {
	width: 140px;
	margin-left: -164px;
	margin-top: 210px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	position: fixed;
	background-color: #222222;
	border:2px solid black;
	border-radius: 10px;
}
#main-content {
	width: 450px;
	min-height: 200px;
	float: left;
	margin-left: 30px;
}
#container-friendlist, #container-junglertimertool, #container-matchhistory{
	display: none;
}
.junglertimertoolelement{

}
div.JunglerTimerToolElement p{
	position:absolute;
	margin-left: 140px;
}
div.JunglerTimerToolElement button{
	position:absolute;
	margin-top:50px;
}
#container-addfriend {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #333333;
	border:2px solid black;
	border-radius: 10px;
}
.wait {
	width: 32px;
	height: 32px;
	background-image: url('../images/ajax-loader.gif');
}
#wait-history {
	margin-top: 90px;
	margin-left: 230px;
	display: none;
}
#wait-friends {
	display: none;
}
.input-text {
	width: 200px;
	height: 25px;
	margin-top: 10px;
}
.container-erorr {
	text-align: center;
	background-color: white;
	border-radius: 5px;
	color: red;
}
.matchHistory-username {
	font-size: 20px;
}
.info-hover {
	position:absolute;
	width: inherit;
	background-color: rgba(0,0,0,0.7);
	text-align: center;
	font-size: 15px;
	color: yellow;
}
.info-hover-text {
	margin-top:5px;
}
.items {
	margin-top: 50px;
	float: left;
}
.spell {
	float: left;
}
.game-won {
	margin-top: 10px;
	padding: 10px;
	height: 300px;
	width: 500px;
	border-radius: 10px;
	border:2px solid #c2c2c2;
	background: #000000; /* Old browsers */
background: -moz-linear-gradient(top,  #000000 0%, #000000 8%, #0a3f00 13%, #12b500 37%, #12b500 60%, #0a3f00 92%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(8%,#000000), color-stop(13%,#0a3f00), color-stop(37%,#12b500), color-stop(60%,#12b500), color-stop(92%,#0a3f00), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #000000 0%,#000000 8%,#0a3f00 13%,#12b500 37%,#12b500 60%,#0a3f00 92%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #000000 0%,#000000 8%,#0a3f00 13%,#12b500 37%,#12b500 60%,#0a3f00 92%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #000000 0%,#000000 8%,#0a3f00 13%,#12b500 37%,#12b500 60%,#0a3f00 92%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #000000 0%,#000000 8%,#0a3f00 13%,#12b500 37%,#12b500 60%,#0a3f00 92%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}
.game-lost {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid black;
	height: 300px;
	width: 500px;
	border-radius: 10px;
	border:2px solid #c2c2c2;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #000000 8%, #3f0000 13%, #b20000 37%, #b20000 60%, #3f0000 92%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(8%,#000000), color-stop(13%,#3f0000), color-stop(37%,#b20000), color-stop(60%,#b20000), color-stop(92%,#3f0000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#000000 8%,#3f0000 13%,#b20000 37%,#b20000 60%,#3f0000 92%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#000000 8%,#3f0000 13%,#b20000 37%,#b20000 60%,#3f0000 92%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#000000 8%,#3f0000 13%,#b20000 37%,#b20000 60%,#3f0000 92%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#000000 8%,#3f0000 13%,#b20000 37%,#b20000 60%,#3f0000 92%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	box-shadow:         inset 0 0 20px #000000;
}
.playerItems {
	position: relative;
}
.summoners-text, .teams-text {
	height: 0px;
	color: white;
}
.items-text {
	margin-top: 65px;
	height: 0px;
	color: white;
}
.stats-text{
	float: left;
	color: white;
	font-size: 25px;
}
.teams {
	float: left;
}
.teamsDiv {
	position:absolute;
	margin-top: 200px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:20px;
	border-radius: 20px;
	box-shadow:         inset 0 0 10px #000000;
	background: #6a1434; /* Old browsers */
background: -moz-linear-gradient(left,  #6a1434 0%, #841882 32%, #13457b 68%, #144c68 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6a1434), color-stop(32%,#841882), color-stop(68%,#13457b), color-stop(100%,#144c68)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #6a1434 0%,#841882 32%,#13457b 68%,#144c68 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #6a1434 0%,#841882 32%,#13457b 68%,#144c68 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #6a1434 0%,#841882 32%,#13457b 68%,#144c68 100%); /* IE10+ */
background: linear-gradient(to right,  #6a1434 0%,#841882 32%,#13457b 68%,#144c68 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a1434', endColorstr='#144c68',GradientType=1 ); /* IE6-9 */

}
.purple {
	background-color: purple;
}
.blue {
	padding-top: 18px;	
	margin-top: -50px;
	margin-left: 250px;
}
.summonersDiv {
	margin-top: 40px;
	margin-left: 130px;
}
.itemsDiv {
	margin-top: 40px;
	margin-left : 130px;
}
.statsDiv {
	position: absolute;
	margin-top: -75px;
	margin-left: 150px;
}
button{
	margin-top: 10px;
	background-color:#1a1a1a;
	border:1px solid white;
	border-radius: 8px;
	height:30px;
	text-align:center;
	font-family:Verdana;
	color:white;
}
button:hover{
	box-shadow: inset 0 0 20px #FFD700;
}